html,
body {
    height: 95%;
}


/* Important to make sure your divs have room to grow in the document */

#title {
    background: lightgreen
}

#dividedbox {
    position: relative;
    width: 100%;
    height: 95%
}


/* for div growth */

.quarter {
    position: absolute;
    width: 50%;
    height: 50%;
    /* gives quarters their size */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* centers text */

#Rezwan {
    top: 0;
    left: 0;
    background: orange;
}

#Jamy {
    top: 0;
    left: 50%;
    background: lightblue;
}


#Abdullah_Al_Zabir {
    top: 50%;
    left: 0;
    background: green;
}

#Shadin {
    top: 50%;
    left: 50%;
    background: red;
}